@model ViewModels.VideoPokerCardsViewModel
<div class="col">
    <div class="row justify-content-center">
        <div class="col-md-2 cardDiv" id="card1div">
            <label class="holdLabel d-none" id="holdLbl1">Hold</label>
            <div class="playerCard" id="card1" suit="@(Model.Card1 != null ? (byte)Model.Card1.Suit : null)" rank="@(Model.Card1 != null ? (byte)Model.Card1.Rank : null)">
                @Model.Card1?.ToString()
            </div>
            <button class="holdBtn" id="hold1">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card2div">
            <label class="holdLabel d-none" id="holdLbl2">Hold</label>
            <div class="playerCard" id="card2" suit="@(Model.Card2 != null ? (byte)Model.Card2.Suit : null)" rank="@(Model.Card2 != null ? (byte)Model.Card2.Rank : null)">
                @Model.Card2?.ToString()
            </div>
            <button class="holdBtn" id="hold2">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card3div">
            <label class="holdLabel d-none" id="holdLbl3">Hold</label>
            <div class="playerCard" id="card3" suit="@(Model.Card3 != null ? (byte)Model.Card3.Suit : null)" rank="@(Model.Card3 != null ? (byte)Model.Card3.Rank : null)">
                @Model.Card3?.ToString()
            </div>
            <button class="holdBtn" id="hold3">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card4div">
            <label class="holdLabel d-none" id="holdLbl4">Hold</label>
            <div class="playerCard" id="card4" suit="@(Model.Card4 != null ? (byte)Model.Card4.Suit : null)" rank="@(Model.Card4 != null ? (byte)Model.Card4.Rank : null)">
                @Model.Card4?.ToString()
            </div>
            <button class="holdBtn" id="hold4">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card5div">
            <label class="holdLabel d-none" id="holdLbl5">Hold</label>
            <div class="playerCard" id="card5" suit="@(Model.Card5 != null ? (byte)Model.Card5.Suit : null)" rank="@(Model.Card5 != null ? (byte)Model.Card5.Rank : null)">
                @Model.Card5?.ToString()
            </div>
            <button class="holdBtn" id="hold5">Hold</button>
        </div>
    </div>

</div>