@model ViewModels.VideoPokerGameViewModel
<div class="col-12">
    <div class="row">
        <p>@Models.EnumExtensions.GetDisplayName(Model.HandViewModel.WinnerType)</p>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label id="betAmount" wager="@Model.HandViewModel.CreditsWagered">Bet: @Model.HandViewModel.CreditsWagered</label>
    </div>
    <div class="col-4">
        <label>@Model.HandViewModel.CreditsWon</label>
    </div>
    <div class="col-4">
        <label>Credits: @Model.Balance</label>
    </div>
</div>
<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-md-2 holdDiv">
            <label class="holdLabel d-none" id="holdLbl1">Hold</label>
            &nbsp;
        </div>
        <div class="col-md-2 holdDiv">
            <label class="holdLabel d-none" id="holdLbl2">Hold</label>
            &nbsp;
        </div>
        <div class="col-md-2 holdDiv">
            <label class="holdLabel d-none" id="holdLbl3">Hold</label>
            &nbsp;
        </div>
        <div class="col-md-2 holdDiv">
            <label class="holdLabel d-none" id="holdLbl4">Hold</label>
            &nbsp;
        </div>
        <div class="col-md-2 holdDiv">
            <label class="holdLabel d-none" id="holdLbl5">Hold</label>
            &nbsp;
        </div>
    </div>
</div>
<div class="col">
    <div class="row justify-content-center">
        <div class="col-md-2 cardDiv" id="card1div">
            <div class="playerCard" id="card1" suit="@(Model.HandViewModel.Card1 != null ? (byte)Model.HandViewModel.Card1.Suit : null)" rank="@(Model.HandViewModel.Card1 != null ? (byte)Model.HandViewModel.Card1.Rank : null)">
                <img class="mw-100 mh-100" src="@(Model.HandViewModel.Card1 != null ? Model.HandViewModel.Card1.ImagePath : null)" alt="@Model.HandViewModel.Card1?.ToString()" />
            </div>
            <button class="holdBtn" id="hold1">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card2div">
            <div class="playerCard" id="card2" suit="@(Model.HandViewModel.Card2 != null ? (byte)Model.HandViewModel.Card2.Suit : null)" rank="@(Model.HandViewModel.Card2 != null ? (byte)Model.HandViewModel.Card2.Rank : null)">
                <img class="mw-100 mh-100" src="@(Model.HandViewModel.Card2 != null ? Model.HandViewModel.Card2.ImagePath : null)" alt="@Model.HandViewModel.Card2?.ToString()" />
            </div>
            <button class="holdBtn" id="hold2">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card3div">
            <div class="playerCard" id="card3" suit="@(Model.HandViewModel.Card3 != null ? (byte)Model.HandViewModel.Card3.Suit : null)" rank="@(Model.HandViewModel.Card3 != null ? (byte)Model.HandViewModel.Card3.Rank : null)">
                <img class="mw-100 mh-100" src="@(Model.HandViewModel.Card3 != null ? Model.HandViewModel.Card3.ImagePath : null)" alt="@Model.HandViewModel.Card3?.ToString()" />
            </div>
            <button class="holdBtn" id="hold3">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card4div">
            <div class="playerCard" id="card4" suit="@(Model.HandViewModel.Card4 != null ? (byte)Model.HandViewModel.Card4.Suit : null)" rank="@(Model.HandViewModel.Card4 != null ? (byte)Model.HandViewModel.Card4.Rank : null)">
                <img class="mw-100 mh-100" src="@(Model.HandViewModel.Card4 != null ? Model.HandViewModel.Card4.ImagePath : null)" alt="@Model.HandViewModel.Card4?.ToString()" />
            </div>
            <button class="holdBtn" id="hold4">Hold</button>
        </div>
        <div class="col-md-2 cardDiv" id="card5div">
            <div class="playerCard" id="card5" suit="@(Model.HandViewModel.Card5 != null ? (byte)Model.HandViewModel.Card5.Suit : null)" rank="@(Model.HandViewModel.Card5 != null ? (byte)Model.HandViewModel.Card5.Rank : null)">
                <img class="mw-100 mh-100" src="@(Model.HandViewModel.Card5 != null ? Model.HandViewModel.Card5.ImagePath : null)" alt="@Model.HandViewModel.Card5?.ToString()" />
            </div>
            <button class="holdBtn" id="hold5">Hold</button>
        </div>
    </div>
</div>
<div class="row">
    @if (Model.HoldInfo != null)
    {
        <table>
            <thead>
            <th>Held Card</th>
            <th>Expected Return</th>
            </thead>
            <tbody>
                @foreach (var hold in Model.HoldInfo)
                {
                    <tr>
                        @{
                            string cardsStr = "";
                            foreach (var card in hold.HeldCards)
                            {
                                cardsStr += card.ToString() + " ";
                            }
                        }
                        <td>
                            @cardsStr
                        </td>
                        <td>@hold.ExpectedCredits</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>